@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    padding: 18px 30px;
}

/* Navbar grande */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 5px;
    background-color: white;
    transition: opacity .15s linear, color .15s linear;
}

nav>a {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    color: rgba(0, 157, 149, 1);
    background-color: transparent;
    gap: 10px;
    padding: 15px 20px;
    background-color: transparent;
}

.triangulo {
    border-style: solid;
    border-width: 6px;
    width: 0;
    height: 0;
    border-color: rgba(0, 157, 149, 1) transparent transparent transparent;
    transform: translateY(5px);
}

.triangulo>div {
    border-style: solid;
    border-width: 6px;
    width: 0;
    height: 0;
    position: relative;
    border-color: white transparent transparent transparent;
    top: -8px;
    left: -6px;
}

nav a:hover,
.triangulo:hover {
    color: #e9989f;
    border-color: #e9989f transparent transparent transparent;
}

.iconos {
    display: inline-flex;
    gap: 15px;
    align-items: baseline;
}

a {
    text-decoration: none;
}

/* Navbar desplegado */

.abrir,
.cerrar {
    display: none;
}


/* Resto */

.principal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    aspect-ratio: 2.25;
    background-size: cover;
    animation: fondo 12s ease-in-out infinite;
}

.texto {
    display: inline-block;
    margin-left: 3vw;
    margin-bottom: 2vw;
    padding: 20px;
    color: white;
    letter-spacing: .2em;
    font-size: 18px;
    background-color: transparent;
    transition: all .3s linear;
}

.texto>p:first-child {
    font-size: 12px;
    margin-bottom: 15px;

}

.texto:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.623);
    transition: all .3s linear;
}

/* Tag Planet Skin Club */

.tag>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 185px;
    padding: 15px 0px;
    background-color: #e9989f;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

/* Chat */

.chat {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/* Media queries */

@media (max-width: 768px) {

    .abrir,
    .cerrar {
        display: block;
        border: 0px;
        font-size: 30px;
        background-color: transparent;
        color: rgba(0, 157, 149, 1);
        cursor: pointer;
    }

    .abrir:hover,
    .cerrar:hover {
        color: #5b5b5b;
    }

    header {
        justify-content: space-between;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: fit-content;
        position: absolute;
        top: -5px;
        bottom: 0px;
        left: 0px;
        background-color: white;
        padding: 2rem;
        gap: .5rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
        transition: opacity .15s linear, color .15s linear;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 480px) {
    nav {
        background-color: rgb(203, 255, 238);
        transition: all .15s linear;
    }

    .triangulo>div {
        border-color: rgb(203, 255, 238) transparent transparent transparent;
    }
}

/* Animación imagen de fondo */

@keyframes fondo {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(https://planet-skin.com/cdn/shop/files/1_10_2000x.jpg?v=1698236253);
    }

    50% {
        background-image: url(/imagenes/producto.png);
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(https://planet-skin.com/cdn/shop/files/1_10_2000x.jpg?v=1698236253);
    }
}